/.idea
/dq9_micro_dwc_server_emulator.cpp-main
/desmume_webassembly-main
/webassembly/build/
/webassembly/build.log
/webassembly/build.exit
/web/dist/
!/web/dist/
/web/dist/*
!/web/dist/.gitkeep
/web/sandbox/upstream/node_modules/
/web/dq9/certs
/webassembly/public
